<h1>Admin#show_user</h1>
  <p>User email is: <%= @user.email %> </p>
  <p>User username is: <%= @user.username %> </p>
  <p>User Admin Status: <%= @user.admin %> </p>
  <p>User Approval Status: <%= @user.approved %> </p>