  <h2> Admin Privileges </h2>
    <%= link_to 'List of All Users', admin_index_user_path %>
    <%= link_to 'List of Pending Users', admin_pending_user_path %>
    <%= link_to 'Create New User', admin_new_user_path %>